<div id="mapCanvas"></div>

<script type="text/javascript">

$(document).ready(function() {

	var myOptions = {
		center: new google.maps.LatLng(40.6743528, -74.0059731),
		zoom: 11,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	};

	var map = new google.maps.Map(document.getElementById("mapCanvas"), myOptions);

	var styleArray = [
		{
			featureType: "poi",
			elementType: "geometry",
			stylers: [
				{ hue: "#669966" },
				{ saturation: -53 },
				{ lightness: -36 }
			]
	  	},{
			featureType: "road",
			elementType: "geometry",
			stylers: [
				{ hue: "#F4FA58" },
				{ saturation: -1 },
				{ lightness: -8 }
			]
	  	},{
			featureType: "water",
			elementType: "geometry",
			stylers: [
				{ hue: "#336699" },
		  		{ saturation: 9 },
				{ lightness: -47 }
			]
	  	}
	];

	map.setOptions({styles: styleArray});
	var infowindow = new google.maps.InfoWindow();
	var marker, i;

	<% @latest.each do |m| %>
		<%= h(m.generate_marker_js) %>
	<% end %>

});

</script>
<p/>
<table>
	<tr>
		<th>User</th>
		<th>Name</th>
		<th>Artist</th>
		<th>Latitude</th>
		<th>Longitude</th>
		<th>Duration</th>
		<th>Start Time</th>
	</tr>

	<% @songs.each do |song| %>
	<tr>
		<td></td>
		<td><%= song.name %></td>
		<td><%= song.artist %></td>
		<td><%= song.latitude %></td>
		<td><%= song.longitude %></td>
		<td><%= song.duration %></td>
		<td><%= (song.start_time.nil? ? song.created_at.strftime("%m/%d/%Y %I:%M%p") : song.start_time.strftime("%m/%d/%Y %I:%M%p")) %></td>
	</tr>
	<% end %>
</table>
<br/><br/>
<%= link_to 'New Song', new_song_path %>
<br/><br/>
